*.pyc
*.swp
*.log
*~
db
rebuild-locales.pl
/src
cache/??
run
*.wsgi
nbproject
settings_local.py
settings.py
.idea
*.iml
lint
env
django
django/*
nbproject
pip-log.txt
tmp/*
/tmp/
/__init__.py
/manage.py
/urls.py
/log
load
askbot/skins/default/media/js/flot
askbot/skins/common/media/js/closure/google-closure
askbot/skins/common/media/js/jquery.fancybox-1.3.4
askbot/fixtures
*.egg
dist
*.egg-info
build
askbot/upfiles/
askbot/upfiles/avatars/
askbot/skins/common/media/mathjax/
/jinja2
*.tar.tz
run
recaptcha
/.ve
/db.sq3
*.db